TestJediService/Service References/ServiceJediReference/ServiceJedi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" />
  <xs:element name="getAllJedi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllJediResult" nillable="true" type="q1:ArrayOfJediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllMatchResult" nillable="true" type="q2:ArrayOfMatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllStadeResult" nillable="true" type="q3:ArrayOfStadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTournoi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllTournoiResult" nillable="true" type="q4:ArrayOfTournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaracteristique">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaracteristiqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllCaracteristiqueResult" nillable="true" type="q5:ArrayOfCaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q6:JediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q7:MatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q8:StadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q9:TournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTournoiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCracteristique">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q10:CaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCracteristiqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q11:JediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q12:MatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q13:StadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTournois">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q14:TournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTournoisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCaracteristique">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q15:CaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCaracteristiqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q16:JediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q17:MatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q18:StadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTournois">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q19:TournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTournoisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaracteristique">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q20:CaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaracteristiqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>