TestJediService/Service References/ServiceJediReference/ServiceJedi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
  <xs:complexType name="ArrayOfJediWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JediWCF" nillable="true" type="tns:JediWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJediWCF" nillable="true" type="tns:ArrayOfJediWCF" />
  <xs:complexType name="JediWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caracteristiques" nillable="true" type="tns:ArrayOfCaracteristiqueWCF" />
      <xs:element minOccurs="0" name="IsSith" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JediWCF" nillable="true" type="tns:JediWCF" />
  <xs:complexType name="ArrayOfCaracteristiqueWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaracteristiqueWCF" nillable="true" type="tns:CaracteristiqueWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaracteristiqueWCF" nillable="true" type="tns:ArrayOfCaracteristiqueWCF" />
  <xs:complexType name="CaracteristiqueWCF">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="Definition" type="q1:EDefCaracteristique" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="Type" type="q2:ETypeCaracteristique" />
      <xs:element minOccurs="0" name="Valeur" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaracteristiqueWCF" nillable="true" type="tns:CaracteristiqueWCF" />
  <xs:complexType name="ArrayOfMatchWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchWCF" nillable="true" type="tns:MatchWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchWCF" nillable="true" type="tns:ArrayOfMatchWCF" />
  <xs:complexType name="MatchWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jedi1" nillable="true" type="tns:JediWCF" />
      <xs:element minOccurs="0" name="Jedi2" nillable="true" type="tns:JediWCF" />
      <xs:element minOccurs="0" name="JediVainqueur" nillable="true" type="tns:JediWCF" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="PhaseTournoi" type="q3:EPhaseTournoi" />
      <xs:element minOccurs="0" name="Stade" nillable="true" type="tns:StadeWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchWCF" nillable="true" type="tns:MatchWCF" />
  <xs:complexType name="StadeWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caracteristiques" nillable="true" type="tns:ArrayOfCaracteristiqueWCF" />
      <xs:element minOccurs="0" name="NbPlaces" type="xs:int" />
      <xs:element minOccurs="0" name="Planete" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StadeWCF" nillable="true" type="tns:StadeWCF" />
  <xs:complexType name="ArrayOfStadeWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StadeWCF" nillable="true" type="tns:StadeWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStadeWCF" nillable="true" type="tns:ArrayOfStadeWCF" />
  <xs:complexType name="ArrayOfTournoiWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TournoiWCF" nillable="true" type="tns:TournoiWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournoiWCF" nillable="true" type="tns:ArrayOfTournoiWCF" />
  <xs:complexType name="TournoiWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatchWCF" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TournoiWCF" nillable="true" type="tns:TournoiWCF" />
</xs:schema>