TestJediService/Service References/ServiceJediReference/ServiceJedi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" />
  <xs:element name="getAllJedi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllJediResult" nillable="true" type="q1:ArrayOfJediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllMatchResult" nillable="true" type="q2:ArrayOfMatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllStadeResult" nillable="true" type="q3:ArrayOfStadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTournoi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllTournoiResult" nillable="true" type="q4:ArrayOfTournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaracteristique">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaracteristiqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="getAllCaracteristiqueResult" nillable="true" type="q5:ArrayOfCaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" minOccurs="0" name="j" nillable="true" type="q6:JediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>