SiteWebJediTournament/Service References/ServiceReference1/ServiceJedi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceJedi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediService.BusinessWCF" />
      <xsd:import schemaLocation="http://localhost:28438/ServiceJedi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceJedi_getAllJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllJedi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllJediResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllMatch" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllStade_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStade" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTournoi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllCaracteristique_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCaracteristique" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_getAllCaracteristique_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCaracteristiqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:addJedi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:addJediResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:addMatch" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:addMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addStade_InputMessage">
    <wsdl:part name="parameters" element="tns:addStade" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:addTournoi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addCracteristique_InputMessage">
    <wsdl:part name="parameters" element="tns:addCracteristique" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_addCracteristique_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCracteristiqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteJedi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteJediResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteMatch" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteStade_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStade" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTournois" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteCaracteristique_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCaracteristique" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_deleteCaracteristique_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCaracteristiqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJedi" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJediResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:updateMatch" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateStade_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStade" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTournois" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateCaracteristique_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCaracteristique" />
  </wsdl:message>
  <wsdl:message name="IServiceJedi_updateCaracteristique_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCaracteristiqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceJedi">
    <wsdl:operation name="getAllJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/getAllJedi" message="tns:IServiceJedi_getAllJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/getAllJediResponse" message="tns:IServiceJedi_getAllJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/getAllMatch" message="tns:IServiceJedi_getAllMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/getAllMatchResponse" message="tns:IServiceJedi_getAllMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/getAllStade" message="tns:IServiceJedi_getAllStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/getAllStadeResponse" message="tns:IServiceJedi_getAllStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/getAllTournoi" message="tns:IServiceJedi_getAllTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/getAllTournoiResponse" message="tns:IServiceJedi_getAllTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCaracteristique">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/getAllCaracteristique" message="tns:IServiceJedi_getAllCaracteristique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/getAllCaracteristiqueResponse" message="tns:IServiceJedi_getAllCaracteristique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/addJedi" message="tns:IServiceJedi_addJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/addJediResponse" message="tns:IServiceJedi_addJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/addMatch" message="tns:IServiceJedi_addMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/addMatchResponse" message="tns:IServiceJedi_addMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/addStade" message="tns:IServiceJedi_addStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/addStadeResponse" message="tns:IServiceJedi_addStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/addTournoi" message="tns:IServiceJedi_addTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/addTournoiResponse" message="tns:IServiceJedi_addTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCracteristique">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/addCracteristique" message="tns:IServiceJedi_addCracteristique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/addCracteristiqueResponse" message="tns:IServiceJedi_addCracteristique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/deleteJedi" message="tns:IServiceJedi_deleteJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/deleteJediResponse" message="tns:IServiceJedi_deleteJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/deleteMatch" message="tns:IServiceJedi_deleteMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/deleteMatchResponse" message="tns:IServiceJedi_deleteMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/deleteStade" message="tns:IServiceJedi_deleteStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/deleteStadeResponse" message="tns:IServiceJedi_deleteStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/deleteTournois" message="tns:IServiceJedi_deleteTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/deleteTournoisResponse" message="tns:IServiceJedi_deleteTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCaracteristique">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/deleteCaracteristique" message="tns:IServiceJedi_deleteCaracteristique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/deleteCaracteristiqueResponse" message="tns:IServiceJedi_deleteCaracteristique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/updateJedi" message="tns:IServiceJedi_updateJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/updateJediResponse" message="tns:IServiceJedi_updateJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/updateMatch" message="tns:IServiceJedi_updateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/updateMatchResponse" message="tns:IServiceJedi_updateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/updateStade" message="tns:IServiceJedi_updateStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/updateStadeResponse" message="tns:IServiceJedi_updateStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/updateTournois" message="tns:IServiceJedi_updateTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/updateTournoisResponse" message="tns:IServiceJedi_updateTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCaracteristique">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJedi/updateCaracteristique" message="tns:IServiceJedi_updateCaracteristique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJedi/updateCaracteristiqueResponse" message="tns:IServiceJedi_updateCaracteristique_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceJedi" type="tns:IServiceJedi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllJedi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/getAllJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMatch">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/getAllMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStade">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/getAllStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTournoi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/getAllTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCaracteristique">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/getAllCaracteristique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/addJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMatch">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/addMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStade">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/addStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTournoi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/addTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCracteristique">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/addCracteristique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteJedi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/deleteJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMatch">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/deleteMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStade">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/deleteStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTournois">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/deleteTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCaracteristique">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/deleteCaracteristique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJedi">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/updateJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMatch">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/updateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStade">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/updateStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTournois">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/updateTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCaracteristique">
      <soap:operation soapAction="http://tempuri.org/IServiceJedi/updateCaracteristique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceJedi">
    <wsdl:port name="BasicHttpBinding_IServiceJedi" binding="tns:BasicHttpBinding_IServiceJedi">
      <soap:address location="http://localhost:28438/ServiceJedi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>